<li class="card list-group-item list-group-item-action">
    @if (Comment == null)
    {
        <div class="card-body my-1">
            <p class="text-error">Комментария почему-то нету :(</p>
        </div>
    }
    else
    {
        <div class="card-body">
            <strong class="card-title my-1">@Comment.Name</strong><b />
            <address class="card-subtitle my-1"><a href="mailto:#">@Comment.Email</a></address>
            <p class="card-text my-1">@Comment.Body</p>
        </div>
    }
</li>

@code {
    [Parameter]
    public CommentDto Comment { get; set; }
    [Parameter]
    public EventCallback<CommentDto> CommentChanged { get; set; }
}
