<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-danger mx-auto my-auto text-center">
                        Похоже, вы пытаетесь получить доступ к странице, куда вам нельзя.<br />
                        Нехорошооо.<br />
                        Одумайтесь, пока не поздно, не то хуже будет. 😠 <br />
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div class="alert alert-warning mx-auto my-auto text-center">
                        Происходит определение статуса аутентификации
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-info mx-auto my-auto text-center">
                    Удивительное дело, но такой страницы ещё (или уже) нет.<br />
                    Непонятно, каким макаром вы сюда попали, <br />
                    но точно можно сказать только одно: вам тут делать нечего.<br />
                    Так что убирайтесь-ка с этой страницы подобру-поздорову.
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
