<div class="d-flex flex-row">
    <input type="text" class="form-control" placeholder="Фильтр">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Все
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item active">Все</button>
            <button class="dropdown-item">Завершённые</button>
            <button class="dropdown-item">Незавершённые</button>
        </div>
    </div>
</div>

@code {

}
