<li class="d-flex list-group-item list-group-item-action">
    @if (Task == null)
    {
        <p class="text-error">Задачи почему-то нету :(</p>
    }
    else
    {
        <input @bind="Task.IsFinished" type="checkbox" />
        <a class="ml-auto @TaskStatusClass" href="tasks/@Task.Id">@Task.Title</a>
        
        <button class="btn btn-danger btn-sm btn-remove-todo ml-auto" @onclick="RemoveTask" >Удалить</button>
    }

</li>

@code {
    [Parameter]
    public TaskDto Task { get; set; }
    [Parameter]
    public EventCallback<TaskDto> TaskChanged { get; set; }
    private bool TaskState
    {
        get => Task.IsFinished;
        set
        {
            ChangeStatus();
        }
    }
    [Parameter]
    public EventCallback<TaskDto> TaskStatusChanged { get; set; }
    [Parameter]
    public EventCallback<TaskDto> TaskRemoval { get; set; }

    private string TaskStatusClass => Task.IsFinished ? "completed-task" : null;

    private async Task ChangeStatus()
    {
        await TaskStatusChanged.InvokeAsync(Task);
    }

    private async Task RemoveTask()
    {
        await TaskRemoval.InvokeAsync(Task);
    }
}
