<li class="d-flex list-group-item list-group-item-action">
    @if (Task == null)
    {
        <p class="text-error">Задачи почему-то нету :(</p>
    }
    else
    {
        <input type="checkbox">
        <a class="ml-auto @TaskStatusClass" href="http://localhost:5000/tasks/{{task.id}}">@Task.Title</a>
        <button class="btn btn-danger btn-sm btn-remove-todo ml-auto">Удалить</button>
    }
    
</li>

@code {
    [Parameter]
    public TaskDto Task { get; set; }

    private string TaskStatusClass => Task.IsFinished ? "completed-task" : null;
}
