@page "/forbidden"

<div class="alert alert-info text-center">
    Похоже, вы пытаетесь получить доступ к чужой задаче.<br />
    Нехорошооо.<br />
    Одумайтесь, пока не поздно, не то хуже будет. 😠 <br />
</div>

@code {

}
