@page "/"

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success text-center">
            Ну вот вы и вошли.<br />
            Наверное, тут должна быть кастомизированная под пользователя главная страница,
            но её нет и не будет.<br />
            Зато теперь вы совершенно официально (и, что главное, бесплатно)
            можете работать с собственным списком дел.<br />
        </div>
        </Authorized>
     <NotAuthorized>
        <div class="alert alert-info text-center">
            Похоже, что вы не вошли.<br />
            Если вы уже зарегистрированы, войдите в свой аккаунт,
            чтобы пользоваться функционалом этого сайта.<br />
            Если же вы ещё не зарегистрированы, то как насчёт того,
            чтобы сделать это прямо сейчас?<br />
        </div>
     </NotAuthorized>
</AuthorizeView>
