@page "/login"

<section class="card card-default w-50 mx-auto">
    <h4 class="card-header">Вход</h4>
    <EditForm Model="@User" OnValidSubmit="@LogIn">
        <div class="form-group">
            <label for="login">Логин: </label>
            <InputText @bind-Value="User.Login" id="login" placeholder="Логин" />
        </div>
        <div class="form-group">
            <label for="password">Пароль: </label>
            <InputText @bind-Value="User.Password" id="password" placeholder="******" type="password" />
        </div>
        <input type="submit" class="btn btn-primary" value="Войти" />
    </EditForm>
</section>

@code {
    private UserLoginModel User { get; set; } = new UserLoginModel();

    private void LogIn()
    {

    }
}
