@page "/login"
@inject NavigationManager NavigationManager
@inject IdentityAuthStateProvider AuthStateProvider

<section class="card card-default w-50 mx-auto">
    <h4 class="card-header">Вход</h4>
    <label class="text-center text-danger">@Error</label>
    <EditForm class="card-body" Model="@User" OnValidSubmit="@LogIn">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="login">Логин: </label>
            <InputText @bind-Value="User.Login" id="login" placeholder="Логин" />
        </div>
        <div class="form-group">
            <label for="password">Пароль: </label>
            <InputText @bind-Value="User.Password" id="password" placeholder="******" type="password" />
        </div>
        <input type="submit" class="btn btn-primary" value="Войти" />
    </EditForm>
</section>

@code {
    private string Error { get; set; }
    private LoginParams User { get; set; } = new LoginParams();

    private async void LogIn()
    {
        Error = null;
        try
        {
            await AuthStateProvider.Login(User);
            NavigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            StateHasChanged();
        }
    }
}
