@page "/tasks/1"
@inject HttpClient Http

<TaskForm AcceptBtnText="Сохранить" Header="Редактирование задачи" />
<div class="card-default w-50 mx-auto">
    <h2 class="text-center">Список комментариев</h2>
    <section>
        <CommentList @bind-Comments="Comments"/>
    </section>
</div>

@code {
    private CommentDto[] Comments { get; set; }
    [Parameter]
    public Task Task { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Comments = await Http.GetJsonAsync<CommentDto[]>($"https://jsonplaceholder.typicode.com/comments?postId={Task.Id}");
    }
}
