@page "/tasks/{Id:int}"
@attribute [Authorize]

@inject IdentityAuthStateProvider AuthStateProvider
@inject ITaskManagerApi TaskManager
@inject NavigationManager NavigationManager

<div class="card">
    <label class="text-center text-danger">@Error</label>
    <TaskForm AcceptBtnText="Сохранить" Header="Редактирование задачи" @bind-Task="Task" DropOnSave="false" TaskSaved="@UpdateTask" />
    <div class="card-default w-50 mx-auto">
        <h2 class="text-center">Список комментариев</h2>
        <section>
            <CommentList @bind-Comments="Comments" />
        </section>
    </div>
</div>

@code {
    private CommentDto[] Comments { get; set; }
    private string Error { get; set; }
    [Parameter]
    public int Id { get; set; }
    private TaskDto Task { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Error = null;
        try
        {
            Task = await TaskManager.GetTask(Id, await AuthStateProvider.GetToken());
            Comments = await TaskManager.GetComments(Id);
        }
        catch (NotAuthorizedException)
        {
            Error = "У вас нет прав на получение этой задачи";
        }
        catch (NotFoundException)
        {
            Error = "Задача не найдена";
            NavigationManager.NavigateTo("tasks");
        }
        catch (NotAuthenticatedException)
        {
            Error = "Только пользователи могут получать свои задачи";
        }
        catch (Exception e)
        {
            Error = "Произошла какая-то неведомая ерунда";
            Console.WriteLine(e.Message);
        }
    }

    private async Task UpdateTask(TaskDto updatedTask)
    {
        Error = null;
        try
        {
            await TaskManager.UpdateTask(updatedTask, await AuthStateProvider.GetToken());
            NavigationManager.NavigateTo("tasks");
        }
        catch (NotAuthorizedException)
        {
            Error = "Ай-ай-ай, нехорошо изменить статус чужой задачи";
        }
        catch (NotFoundException)
        {
            Error = "Странно, но задача на изменение не была найдена. Видать, тут больше делать нечего";
            NavigationManager.NavigateTo("tasks");
        }
        catch (NotAcceptableException)
        {
            Error = "Только пользователи могут добавлять задачи";
        }
        catch (NotAuthenticatedException)
        {
            Error = "Только пользователи могут изменять статус задач";
        }
        catch (Exception e)
        {
            Error = "Произошла какая-то неведомая ерунда";
            Console.WriteLine(e.Message);
        }
        StateHasChanged();
    }
}
