@page "/tasks"
@inject HttpClient Http

<div class="container">
    <div class="row">
        <TaskForm AcceptBtnText="Добавить" @bind-Task="AddedTask" Header="Добавление задачи"/>
        <div class="rowcard card-default w-50 mx-auto col-sm">
            <h1 class="text-center">Список задач</h1>
            <section id="section-container">
                <FilteringComponent />
                <TaskList @bind-Tasks="Tasks" />
            </section>
        </div>
    </div>
</div>

@code {
    private TaskDto addedTask;
    private TaskDto AddedTask
    {
        get => addedTask;
        set
        {
            addedTask = value;
            if (addedTask != null)
            {

            }
        }
    }

    private TaskDto[] Tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tasks = await Http.GetJsonAsync<TaskDto[]>("https://jsonplaceholder.typicode.com/todos");
    }
}
