<div class="alert alert-danger" style="@errorStyle">@Text</div>

@code {
    [Parameter]
    public string Text { get; set; }
    private string errorStyle => Text == null ? "display: none" : null;
}
