<div class="text-center mx-auto" style="@SpinnerStyle">
    <div class="spinner-border"></div>
</div>

@code {
    private string SpinnerStyle => Enabled ? "" : "display: none";
    [Parameter]
    public bool Enabled { get; set; }
}
