<div class="alert alert-info text-center">
    <LoadingSpinner Enabled="true" />
    Ваш запрос обрабатывается. Пожалуйста, подождите.<br />
    Если отклика не будет в течении века, обратитесь за помощью к вашему системному администратору.
</div>