<div class="form-check">
    <input type="checkbox" class="form-check-input" id="chkbox-input" value="true">
    <label class="form-check-label" for="chkbox-input">@Label</label>
</div>

@code {
    public string Label { get; set; }
    public bool State { get; set; }
}