<div class="form-group">
    <label for="password-input">@Label</label>
    <input type="password" @bind-value="Password" @bind-value:event="oninput" class="form-control" id="password-input" placeholder="******" />
</div>
@code {
    [Parameter]
    public string Label { get; set; }
    public string Password { get; private set; }
}
