@inherits LayoutComponentBase

<NavMenu />

<main class="d-flex h-100 w-100">
    @Body
</main>

<footer class="bg-info footer">
    <p class="mt-3 text-center text-white">
        Пермь, ПГНИУ, 24 ноября 2019.<br>
        Склёпано на коленке криворуким студентом© по best practice.
    </p>
</footer>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }
}
