@inherits LayoutComponentBase

<NavMenu />

<main class="container mt-5">
    @Body
</main>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }
}
